body {
	background-color: #fef6f5;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#mainheader {
	color: #c87d52;
	font-size: 40px;
}

.paragraph {
	color: #c87d52;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
}
