@font-face {
	font-family: WorkSansBold;
	src: url(fonts/WorkSans-Bold.ttf);
}

@font-face {
	font-family: WorkSansRegular;
	src: url(fonts/WorkSans-Regular.ttf);
}

body {
	background-color: #fef6f5;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
	color: #c87d52;
	font-family: WorkSansBold;
	font-size: 2em;
}

h2,
h3,
h4 {
	font-family: WorkSansRegular;
}

h2 {
	font-weight: bolder;
}

#promo-header {
	font-family: WorkSansBold;
	font-variant: small-caps;
}
